*{
    margin: 0;
    padding: 0;
    font-family: 'Plus Jakarta Sans',"Inter", Arial, Helvetica, sans-serif;   
    box-sizing: border-box;
    background-color: #E4EAE1;
}
.nav-bar{
    height: 60px;
    width: 100%;
    padding-top: 20px;
    display: flex;
    align-items: center;
}
.nav-logo{
    width: 150px;
    height: 150px;
    cursor: pointer;
    /* padding-top: 20px; */
    margin-left: 125px;
}
.nav-name{
    width: 200px;
}
.nav-name h1{
    color: #40916C;
    text-align: center;
    font-family: 'Inter';
    font-size: 30px;
    margin-left: -100px;
    background-color: transparent;
}
.container{
    width: 360px;
    height: auto;
    background-color: #6E7F6D;
    margin: auto;
    border: 0px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 40px;
    gap: 30px;
}
.container:hover {
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.2);
    transition-duration: 0.5s;
}
.container h2{
    font-size: 36px;
    font-weight: 700;
    color: white;
    background-color: transparent;
}
label{
    color: white;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
}
.name,.email,.password{
    background-color: transparent !important;
    border: none !important ;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
input{
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-weight: 600;
}
.log-in-btn{
    background-color: #0b3d26;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}
.log-in-btn:hover{
    transform: scale(1.1) translateZ(20px);
}
.container a{
    background-color: transparent;
}
.signup a{
    text-decoration: none,underline;
    color: rgb(20, 20, 184);
    background-color: transparent;
}
.signup {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: transparent;
    margin-top: 20px;
}
.signup span{
    background-color: transparent;
}
input:focus{
    border: none;
    outline: none;
    border: 3px solid #1b573d;
}