/* General Reset */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    background-color: #E4EAE1;
}

/* Navbar */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-logo{
    cursor: pointer;
}
.nav-logo img {
    width: 75px;
    height: auto;
}


.dollar{
    transform: rotate(-33.49deg);
}
.rupee{
    transform: rotate(33.49deg);
}
.Log button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.login{
    border: 0px;
    border-radius: 5px;
    background-color: transparent;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    /* font-weight: 600; */
}
.signup{
    background-color: #40916C;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 8px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    /* font-weight: 600; */
}
.login:hover{
    color: white;
    background-color: #2C2C2C;
}
.signup:hover{
    background-color: #0b3824;
}

/* Section 1 - Hero Section */
.sec-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #E4EAE1;
    height: auto;
    padding-bottom: 110px;
}

.main-page-currency {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 700px;
    margin-bottom: 20px;
}

.main-page-heading h1 {
    font-size: 96px;
    margin-bottom: 10px;
    color: #40916C;
}

.main-page-desc h2 {
    font-size: 70px;
    color: black;
}

.main-page-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    /* gap: 50px; */
}

/* Section 2 - Uncover Expense */
/* .sec-3 .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 50px;
} */
.sec-2 {
    background-color: #FFF9F4;
    height: auto;
    padding: 40px 50px 110px 50px;
}
.sec-2 .heading{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.sec-2 .heading h2{
    font-size: 40px;
    color: black;
    text-align: center;
}
.sec-2 .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 86px;
}
.sec-2 .cards .card{
    width: 280px;
    height: 280px;
    background-color: #FFFFFF;
    border: 2px solid #F3EAE1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
}
.sec-2 img{
    width: 140px;
    height: 140px;
    margin-bottom: 10px;
}
.sec-2 .cards .card h3{
    padding: 20px;
    text-align: center;
}

.sec-3 {
    background-color: #F3EAE1;
    height: auto;
    padding: 80px 50px 80px 50px;
}
.sec-3 .heading{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.sec-3 .heading h2{
    font-size: 40px;
    text-align: center;
    color: black;
}
.sec-3 .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 60px;
    column-gap: 86px;
}
.sec-3 .cards .card{
    width: 300px;
    height: 280px;
    /* border: 1px dotted black; */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}
.sec-3 .cards img {
    max-width: 110px;
    max-height: auto;
    margin-bottom: 24px;
}
.sec-3 .cards .card h4{
    color: black;
    padding: 10px;
}
.sec-3 .cards .card p {
    font-size: 12px;
    text-align: center;
    padding: 0px 40px;
}


.sec-4{
    background-color: #E4C4AF;
    height: auto;
    padding: 0px 50px 0px 50px;
}
.sec-4 .container{
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}
.sec-4 .left{
    width: 40%;
    padding-left: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sec-4 .right{
    width: 60%;
    display: flex;
    justify-content: center;
    /* padding-top: -px; */
    /* padding-left: 40px; */
}
.sec-4 .left .heading h2{
    font-size: 55px;
}
.start-button{
    padding: 16px;
    background-color: #2C2C2C;
    color: white;
    border: 0px;
    border-radius: 8px;
    width: 400px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.start-button:hover{
    background-color: white;
    color: #2C2C2C;
    font-size: 16px;
    font-weight: 600;
}

/* Footer */
footer .container {
    background-color: #2F3E46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

.container .right .flex a{
    text-decoration: none;
    color: white;
}
footer .right .flex {
    display: flex;

}
footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .right  {
    display: flex;
    line-height: 1.6;
    gap: 200px;
}
footer .right .flex {
    display: flex;
    flex-direction: column;
}
footer .right .flex a {
    text-align: center;
}
footer .foot-logo img {
    width: 150px;
}

footer .contact-us-links img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

/* Responsive Styles */
@media (max-width: 1211px) {
    .sec-4 .left .heading h2{
        font-size: 34px;
    }
    .sec-4 .right img {
        width: 300px;
    }
    .sec-4 .right {
        justify-content: flex-end;
    }
}
@media (max-width: 1200px) {
    .nav-bar {
        padding: 20px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .main-page-currency {
        gap: 450px;
    }

    .main-page-heading h1 {
        font-size: 60px;
    }

    .main-page-desc h2 {
        font-size: 48px;
    }

    .main-page-img {
        flex-direction: column;
    }

    /* .sec-2 .cards .card{
        flex: 1 1 calc(33.33% - 40px);

    }
    .sec-3 .cards .card {
        flex: 1 1 calc(33.33% - 40px);
    } */
    
    
    footer .right {
        gap: 100px;
    }

}
@media (max-width: 1360px) {
    .sec-4 .left .heading h2{
        font-size: 42px;
    }
    .sec-4 .right img {
        width: 500px;
    }
}
@media (max-width: 1238px) {
    .sec-4 .left .heading h2{
        font-size: 38px;
    }
    .sec-4 .right img {
        width: 450px;
    }
}
@media (max-width: 1091px) {
    .sec-4 .left .heading h2{
        font-size: 30px;
    }
    .sec-4 .left {
        padding-left: 90px;
    }
    .sec-4 .right img {
        width: 300px;
    }
}
@media (max-width: 934px) {
    .start-button {
        width: 300px;
    }
    .main-page-currency {
        display: none;
    }
}
@media (max-width: 807px) {
    .sec-4 .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec-4 .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 40px;
    }
    .start-button {
        margin-top: 20px;
    }
    .sec-4 .right {
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 768px) {
    .nav-bar {
        padding-top: 0;
    }
    .Log button {
        padding: 8px 16px;
        font-size: 14px;
    }

    .main-page-heading h1 {
        font-size: 48px;
    }

    .main-page-desc h2 {
        font-size: 36px;
    }

    .main-page-currency {
        display: none;
    }

    /* .sec-2 .cards .card{
        flex: 1 1 calc(50% - 20px);
    } */
    /* .sec-3 .cards .card {
        flex: 1 1 calc(50% - 20px);
    } */
    .sec-2 {
        align-items: center;
    }
    .sec-4 .left h2 {
        padding-bottom: 40px;
    }  
    .sec-4 .right {
        padding-top: 40px
    }

    footer .container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    footer .right {
        gap: 50px;
    }

}

@media (max-width: 576px) {
    .main-page-heading h1 {
        font-size: 36px;
    }

    .main-page-desc h2 {
        font-size: 24px;
    }

    /* .sec-2 .cards .card{
        flex: 1 1 100%;
    }
    .sec-3 .cards .card {
        flex: 1 1 100%;
    } */

    .sec-4 .container .right img {
        width: 100%;
    }

    .Log button {
        font-size: 12px;
    }

    footer .container .right a {
        font-size: 12px;
    }
}