<%- include('partials/header') %>
<div class="px-40 flex flex-1 justify-center py-5">
<%-include('partials/buttons') %>
<div class="chart-container" style="max-width: 400px; max-height: 400px;">
    <canvas id="expensePieChart"></canvas>
</div>
<div class="px-4 py-3 @container">
  <div class="flex overflow-hidden rounded-xl border border-[#40916C] bg-[#FFFFFF]">
    <table class="flex-1 border-collapse">
        <thead>
            <tr class="bg-white">
            <th class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Index</th>
            <th class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Expense Category</th>
            <th class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-t border-[#40916C]">
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">1</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Shopping</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">$200</td>
            </tr>
            <tr class="border-t border-[#40916C]">
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">2</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Health</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">$100</td>
            </tr>
            <tr class="border-t border-[#40916C]">
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">3</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Travel</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">$150</td>
            </tr>
            <tr class="border-t border-[#40916C]">
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">4</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Food</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">$120</td>
            </tr>
            <tr class="border-t border-[#40916C]">
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">5</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">Entertainment</td>
            <td class="px-4 py-3 text-left text-[#40916C] w-[400px] text-sm font-medium leading-normal">$130</td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
    
<%- include('partials/footer') %>
<script src="/scripts/dashboardScript.js"></script>
<%- include('partials/end') %>
