<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PennyWise</title>
    <link rel="shorcut icon" href="./assets/logo bg.png" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="nav-logo"><img src="assets/svgs/3.svg" alt=""></div>
            <div class="Log">
                <a href="/login" target="_blank"><button class="login">Log In</button></a>
                <a href="/signup"target="_blank" ><button class="signup">Sign Up</button></a>
            </div>
        </nav>
    </header>

    <main>
        <section class="sec-1">
            <div class="main-page-currency">
                <div><img src="./assets/svgs/dollar-sign-svgrepo-com.svg" alt="" class="dollar"></div>
                <div><img src="./assets/svgs/rupee-sign-svgrepo-com (1).svg" alt="" class="rupee"></div>
            </div>
            <div class="main-page-text">
                <div class="main-page-heading"><h1>PennyWise</h1></div>
                <div class="main-page-desc"><h2>An AI Expense Analyzer</h2></div>
            </div>
            <div class="main-page-img">
                <div><img src="./assets/svgs/undraw_savings_re_eq4w.svg" alt=""></div>
                <div><img src="./assets/svgs/undraw_segment_analysis_re_ocsl.svg" alt=""></div>
            </div>
        </section>


        <section class="sec-2">
            <div class="heading"><h2>Uncover Expense</h2></div>
            <div class="cards">
                <div class="card"><img src="./assets/svgs/Financial Data Illustration.svg" alt=""><h3>Effortless Tracking</h3></div>
                <div class="card"><img src="./assets/svgs/Credit Card Illustration.svg" alt=""><h3>Intelligent Expense Monitoring</h3></div>
                <div class="card"><img src="./assets/svgs/Personal Finance Illustration.svg" alt=""><h3>Simplify Expense Management</h3></div>
                <div class="card"><img src="./assets/svgs/Ask Me Anything.svg" alt=""><h3>Budget with Confidence</h3></div>
                <div class="card"><img src="./assets/svgs/Time Management Illustration.svg" alt=""><h3>Save Time. Save Money. Stay Ahead.</h3></div>
            </div>
        </section>

        <section class="sec-3">
            <div class="heading"><h2>Intelligent Expense Monitoring</h2></div>
            <div class="cards">
                <div class="card"><img src="./assets/svgs/visiblity.svg" alt=""><h4>Enchance Financial Visibility</h4><p>Achieve Financial Clarity and Control with Our AI-Powered Expense Analyzer</p></div>
                <div class="card"><img src="./assets/svgs/tracking.svg" alt=""><h4>Simplify Expense Tracking</h4><p>Unlock the Key to Smarter Spending and Sustainable Financial Growth</p></div>
                <div class="card"><img src="./assets/svgs/insights.svg" alt=""><h4>Gain Expense Insights</h4><p>Elevate Your Expense Management to New Heights with Our Cutting-Edge AI-Driven Platform</p></div>
            </div>
        </section>

        <section class="sec-4">
            <div class="container">
                <div class="left">
                    <div class="heading"><h2>Streamline your Expenses</h2></div>
                    <div><a href="/signup"><button class="start-button" type="button" >Start Optimizing Your Expenses</button></a></div>
                </div>
                <div class="right">
                    <!-- macbook -->
                     <div>
                        <img src="assets/svgs/macbookpro.svg" alt="" class="pc">
                     </div>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="end"></div>
        <div class="container">
            <div class="foot">
                <div class="left">
                    <div class="foot-logo"><img src="./assets/svgs/3.svg" alt=""></div>
                    <div class="foot-name"><h1>PennyWise</h1></div>
                </div>
                <div class="right"><div class="grid"></div></div>
            </div>
        </div>
    </footer>
</body>
</html>