<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PennyWise-Login</title>
    <link rel="shorcut icon" href="./assets/logo bg.png" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/login_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="nav-bar">
        <a href="/" class="link">
            <div class="nav-logo"><img src="./assets/logo.png" alt="" class="nav-logo"></div>
            <div class="nav-name"><h1>PennyWise</h1></div>
        </a>
    </nav>

    <div class="container">
        <h2>LOG IN</h2>
        <div class="email"><label>Email:</label><input type="email" name="name"></div>
        <div class="password"><label>Password:</label><input type="password" name="name"></div>
        <a href=""><button class="log-in-btn">Log In</button></a>
        <div class="signup"><span>Not a User? </span><a href="/signup">Sign Up</a></div>
    </div>
    <script src="scripts/login.js"></script>
</body>
</html>