<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PennyWise-Signup</title>
    <link rel="shorcut icon" href="./assets/logo bg.png" >
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/signup_style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
</head>
<body>
    
    <nav class="nav-bar">
        <a href="/" class="link">
            <div class="nav-logo"><img src="./assets/logo.png" alt="" class="nav-logo"></div>
            <div class="nav-name"><h1>PennyWise</h1></div>
        </a>
    </nav>

    <div class="container">
        <h2>SIGN UP</h2>
        <div class="name"><label>Name:</label><input type="text" name="name"></div>
        <div class="email"><label>Email:</label><input type="email" name="name"></div>
        <div class="password"><label>Password:</label><input type="password" name="name"></div>
        <a href=""><button class="sign-up-btn">Sign Up</button></a>
        <div class="login"><span>Already a User? </span><a href="">Log In</a></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    <script src="scripts/signup.js"></script>
</body>
</html>