<div class="layout-content-container flex flex-col max-w-[960px] flex-1">
    <div class="flex justify-stretch">
        <div class="flex flex-1 gap-3 flex-wrap px-4 py-3 justify-center">
        
        <a href="/dashboard">
            <button class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#F4EFE6] text-[#1C160C] text-sm font-bold leading-normal tracking-[0.015em] Home flex-wrap" >
                <span class="truncate">Home</span>
            </button>
        </a>
        <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#F4EFE6] text-[#1C160C] text-sm font-bold leading-normal tracking-[0.015em] flex-wrap" id = "addExpenseBtn"
        >
            <span class="truncate">Add Expense</span>
        </button>
        <a href = "/detailExpense">
            <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#F4EFE6] text-[#1C160C] text-sm font-bold leading-normal tracking-[0.015em] Detail flex-wrap"
            >
            <span class="truncate">Detailed Expenses</span>
            </button>
        </a>
        <a href="/insights">
            <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#F4EFE6] text-[#1C160C] text-sm font-bold leading-normal tracking-[0.015em] Insights flex-wrap"
            >
                <span class="truncate">Insights</span>
            </button>
        </a>
        <a href="/savingtips">
            <button
                class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-10 px-4 bg-[#F4EFE6] text-[#1C160C] text-sm font-bold leading-normal tracking-[0.015em] flex-wrap"
            >
                <span class="truncate">Saving Tips</span>
            </button>
        </a>
        </div>
    </div>