
    </div>
</div>
<footer class="flex justify-center">
          <div class="flex max-w-[960px] flex-1 flex-col">
            <footer class="flex flex-col gap-6 px-5 py-10 text-center @container">
              <div class="flex flex-wrap items-center justify-center gap-6 @[480px]:flex-row @[480px]:justify-around">
                <a class="text-[#40916C] text-base font-normal leading-normal min-w-40" href="#">About Us</a>
                <a class="text-[#40916C] text-base font-normal leading-normal min-w-40" href="#">Contact Us</a>
                <a class="text-[#40916C] text-base font-normal leading-normal min-w-40" href="#">Privacy Policy</a>
              </div>
              <div class="flex flex-wrap justify-center gap-4 items-center">
                <a href="#">
                  <div class="text-[#40916C]" data-icon="FacebookLogo" data-size="24px" data-weight="regular">
                    <img src="assets/svgs/fb_logo_green.svg">
                  </div>
                </a>
                <a href="#">
                  <div class="text-[#40916C]" data-icon="TwitterLogo" data-size="24px" data-weight="regular">
                    <img src="assets/svgs/x_logo_green.svg">
                  </div>
                </a>
                <a href="#">
                  <div class="text-[#40916C]" data-icon="InstagramLogo" data-size="24px" data-weight="regular">
                    <img src="assets/svgs/ig_logo_green.svg">
                  </div>
                </a>
              </div>
              <p class="text-[#40916C] text-base font-normal leading-normal">© 2023 Expense Tracker</p>
            </footer>
          </div>
        </footer>
      </div>
    </div>
    
    <script src="/scripts/script.js"></script>