
<html>
<head>
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
  <link rel="stylesheet" href="/style/dashboardStyle.css">
  <link
    rel="stylesheet"
    as="style"
    onload="this.rel='stylesheet'"
    href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
  />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="icon" type="image/x-icon" href="/assets/logo_bg.png" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet">

</head>
<body>
  <div class="relative flex min-h-screen flex-col bg-[#FFFFFF] group/design-root overflow-x-hidden" 
       style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
    <div class="layout-container flex h-full grow flex-col">
      
      <!-- Header Section -->
      <header 
        class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#F4EFE6] px-5 py-3 bg-[#E4EAE1]"
        id="heading">
        <a href="/dashboard" class="flex items-center gap-4 text-[#1C160C]">
          <img src="assets/logo.png" alt="logo" class="w-12 md:w-[75px]">
          <h2 class="text-[#1C160C] text-base md:text-lg font-bold leading-tight tracking-[-0.015em] flex items-center">
            <span class="text-[#40916C] text-lg md:text-2xl pe-1">PennyWise</span> | Dashboard
          </h2>
        </a>
        <button
          class="logoutBtn flex min-w-[84px] max-w-[480px] items-center justify-center overflow-hidden rounded-full h-10 px-3 md:px-4 bg-[#019863] text-[#FFFFFF] text-sm md:text-base font-bold leading-normal tracking-[0.015em]"
        >
          <span class="truncate">Log out</span>
        </button>
      </header>

      <div class="modal" id = "popup">
          <div class="modal-content">

            <div
              class="relative flex flex-col max-h-[500px] max-w-[500px] max-w-3xl bg-[#FFFFFF] group/design-root overflow-x-hidden border-2 rounded-xl"
            >
              <span id = "closeBtn">&times;</span>
              <div class="layout-container flex h-full grow flex-col">
                <div class="flex items-center justify-center flex-1 px-4 py-10">
                  <div class="layout-content-container flex flex-col w-full max-w-lg py-5">
                    <h1 class="text-[#1C160C] tracking-light text-[32px] font-bold leading-tight px-4 text-left pb-3">Add Expense</h1>
                    <div class="flex flex-wrap max-w-lg items-end gap-4 px-4 py-3">
                      <label class="flex flex-col min-w-40 flex-1">
                        <input
                          placeholder="Enter expense name"
                          class="expenseNameInput form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] focus:border-[#E9DFCE] h-14 placeholder:text-[#A18249] p-[15px] text-base font-normal leading-normal"
                        />
                      </label>
                    </div>
                    <div class="flex flex-wrap max-w-lg items-end gap-4 px-4 py-3">
                      <label class="flex flex-col min-w-40 flex-1">
                        <select
                          class="categorySelect form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] focus:border-[#E9DFCE] h-14 bg-[image:--select-button-svg] placeholder:text-[#A18249] p-[15px] text-base font-normal leading-normal"
                        >
                          <option value="" disabled selected>Add category</option>
                          <option value="shopping">Shopping</option>
                          <option value="health">Health</option>
                          <option value="travel">Travel</option>
                          <option value="food">Food</option>
                          <option value="entertainment">Entertainment</option>
                        </select>
                      </label>
                    </div>
                    <div class="flex flex-wrap max-w-lg items-end gap-4 px-4 py-3">
                      <label class="flex flex-col min-w-40 flex-1">
                        <input
                          placeholder="Enter amount"
                          class="amountInput form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-xl text-[#1C160C] focus:outline-0 focus:ring-0 border border-[#E9DFCE] bg-[#FFFFFF] focus:border-[#E9DFCE] h-14 placeholder:text-[#A18249] p-[15px] text-base font-normal leading-normal"
                        />
                      </label>
                    </div>
                    <div class="flex px-4 py-3 justify-center">
                      <button
                        class="submitAddExpenseBtn flex min-w-[84px] max-w-lg cursor-pointer items-center justify-center overflow-hidden rounded-full h-12 px-5 flex-1 bg-[#019863] text-[#FFFFFF] text-base font-bold leading-normal tracking-[0.015em]"
                      >
                        <span class="truncate">Add Expense</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="overlay"></div>
        <script src="scripts/header.js"></script>